# =========================
# Dataset files
# =========================
data/*.csv
*.csv

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Virtual environment
# =========================
venv/
.venv/

# =========================
# Trained models
# =========================
*.h5
*.keras
*.weights.h5
*.pkl

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db